@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #000000;
  padding: 20px;
  color: white;
}

/* container for all cards */
.card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card > div {
  flex: 1 1 300px; /* each card takes at least 250px */
  max-width: 350px;
  background: rgb(40, 40, 40);
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
  text-align: left;
}

.card > div:hover {
  background: rgb(32, 32, 32);
}

/* image */
.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

/* text */
.card p {
  margin: 15px 0;
  font-size: 15px;
  line-height: 22px;
  width: 100%;
}

/* button */
.card button {
  font-family: 'Roboto', sans-serif;
  background: #177439;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.card button:hover {
  background: #0c4e2d;
}
